spring:
  datasource:
    url: jdbc:postgresql://localhost:15432/${POSTGRES_DB}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver

  data:
    redis:
      host: localhost
      port: 16379
      password: ${REDIS_PASSWORD}

